body{
    font-family: "Quicksand", tahoma, sans-serif;
    font-weight: 400;
    margin: 0 0 0 0;
    background: #ffffff;
}

.smallTitle{
    font-size: 3em;
}

.top-bar-section ul li a, .menu-icon span{
    font-family: "Quicksand", tahoma, sans-serif;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button){
    background-color: #bdd09f;
}

.socialMedia{
    display: inline-block;
}

ul{
    list-style: none;
    padding: .25em .5em .25em 1.5em;
    margin: 0 0 0 0;
}

a{
     text-decoration: none;
     color: black;
}

nav img, .socialMedia img{
    height: 1.25em;
    width: auto;
}

header{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
}

header h1{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

header dt, header h1{
    color: #404f24;
    font-size: 7em;
    font-weight: normal;
}

header dd{
    color: #bdd09f;
    font-size: 2em;
    margin-left: 4em;
}

#resumeContent, #intro{
    padding: 0 2em 2em 2em;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;

}

#intro{
    text-align: center;
}

h1{
    font-family: "Quicksand", tahoma, sans-serif;
    font-size: 2em;
    font-weight: 400;
}

h2{
    font-family: "Quicksand", tahoma, sans-serif;
    font-size: 1.25em;
    margin-bottom: .25em;
    font-weight: 400;
}

h3{
    font-family: "Quicksand", tahoma, sans-serif;
    font-size: 1em;
    margin-bottom: .4em;
    margin-top: .4em;
    font-weight: 400;
}

#resumeContent h1{
     margin-bottom: 0;
     margin-top: 2em;
 }

#resumeContent h1:first-child{
    margin-top: 0em;
}

#resumeContent dd{
    margin-top: 2em;
    margin-bottom: 2em;
}

#resumeContent p{
    margin-top: .25em;
}

#resumeContent ul{
    padding-left: 0em;
}

#resumeContent li{
    padding-bottom: .5em;
}

a:hover, a:hover{
    color: #4e6172;
}

/*#design{*/
    /*background: #b0c4de;*/
/*}*/
/*#web{*/
    /*background: #87cefa;*/
/*}*/
/*#analysis{*/
    /*background: #add8e6;*/
/*}*/
.portfolioCategory{
    text-align: center;
    padding: 0 2em 2em 2em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.portfolioCategory h1{
    margin: 0;
    font-size: 2.5em;
}

.portfolioCategory h2{
    font-size: 1.5em;
}

.project{
    padding: .5em 0 .5em 0;
}

.projectDate{
    font-size: .5em;
    color: #808080;
    font-style: italic;
}

footer{
    background-color: #dcdcdc;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
